@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

/* === Background image + Header === */

.hmain{
    padding: 0%;
    margin: 0%;
    background-color: #f4f0f0;
}

.homey {
    height: 800px;                  /*was 820px */
    background-color: #006F5C;
    background-position: center center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    /* position: relative; */
    /* top: -80px; */
}


/* === Search Bar === */

.input-box {
    display: flex;
    position: absolute;
    height: 60px;
    width: 50%;
    left: 25%;
    top: 770px;
    background: #fff;
    margin: 0 20px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    
}

.input-box img {
    height: 30px;
    object-fit: cover;
    position: absolute;
    top: 25%;
    left: 15px;
    opacity: 50%;
}

.input-box i,
.input-box .button {
    position: absolute;
    top: 15%;
    /* transform: translateY(-50%); */
}

.input-box i {
    left: 20px;
    font-size: 30px;
    color: #707070;
}

.input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    border: none;
    padding: 0 155px 0 65px;
    background-color: transparent;
}

.input-box .button {
    right: 20px;
    background: #FBCA1F;
    font-family: inherit;
    padding: 0.4em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
}

.input-box button:hover {
    transform: translate(-0.15em, -0.15em);
    box-shadow: 0.15em 0.15em;
    
}

.input-box button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}




/* === Middle Area === */

.hmain .mid-head{
    margin-bottom: 40px;
    display: flex;
    /* background-color: #cb2d3e; */
}

.mid-head .mid-title{
    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
    font-size: 17px;
    float: left;
    position: relative;
    left: 3%;
    /* font-weight: 600; */
    opacity: 70%;
}

.mid-head .trend-icon{
    height: 20px;
    margin-right: 10px;
    position: relative;
    top: 3px;
    /* opacity: 70%; */
}



/* === POST Layout === */

.post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}




/* ===  POST CONTENT/CARD  ==  */


.card {
    width: 600px;
    overflow: hidden;
    border-radius: 1em;
    background: #ECE9E6;
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    margin-bottom: 50px;
    box-shadow: 7px 7px 8px -5px rgba(0,0,0,0.60);
    border: 1px solid rgb(129, 124, 124);
}


/* Card Header */

.card__header .user_info {
    padding: 12px 18px;
    display: flex;
    gap: .9rem;
    /* padding-right: 50px; */
    box-shadow: 0px 6px 6px -2px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.card__header .user_image {
    height: 35px;
    border-radius: 50%;
}

.card__header .user_badge {
    height: 28px;
    align-self: center;
    padding-left: 5px;
    opacity: 90%;
}

.card__header .user_name{
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif ;
    font-size: 15px;
    opacity: 70%;
    /* font-weight:bolder; */
}

.card__header .card_image {
    max-width: 100%;
    /* display: block; */
    /* object-fit: cover; */
    padding-top: 3px;
    /* border-radius: 2em; */
    
}

.card__header .user_info{
    background-color: #dddddd;

}

/* Card Body / Middle */

.card__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}


.tag {
    align-self: flex-start;
    padding: .25em .75em;
    border-radius: 1em;
    font-size: .75rem;
}

.tag + .tag {
    /* margin-left: .5em; */
}


.tag-red {
    background: #cb2d3e;
    background: linear-gradient(to bottom, #ef473a, #cb2d3e);
    color: #fafafa;
}

.card__body .title {
    font-size: 1.5rem;
    text-transform: capitalize;
}

.card__body .desc{
    font-size: 1rem;
    color: #2b2a2a;
    align-self: flex-start;
    text-align: justify;
    padding: 0px 10px;
}

/* Card Footer */

.card__footer {
    display: flex;
    padding: 15px;
    margin-top: auto;
    background-color: #e1e1e1;
    /* box-shadow: 0px -4px 5px rgba(0, 0, 0, 0.28); */
}

.card__footer .supplies {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.card__footer .date_icon {
    height: 37px;
    width: 37px;

}

.card__footer .date_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card__footer .date_info > small {
    color: #535353;
}


.card__footer .map_icon {
    height: 45px;
    position: relative;
    left: 60%;
}

.card__footer .Map_info {
    position: relative;
    left: 55%;
}




.like_button {                                          /* like Button */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: right;
    padding: 20px 25px 20px 22px;
    box-shadow: rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: #e8e8e8;
    border-color: #ffe2e2;
    border-style: solid;
    border-width: 9px;
    border-radius: 35px;
    font-size: 25px;
    font-weight: 900;
    color: rgb(134, 124, 124);
    font-family: monospace;
    transition: transform 400ms cubic-bezier(.68,-0.55,.27,2.5), 
    border-color 400ms ease-in-out,
    background-color 400ms ease-in-out;
    word-spacing: -2px;
    height: 80%;
    
}

@keyframes movingBorders {
    0% {
        border-color: #fce4e4;
    }

    50% {
        border-color: #ffd8d8;
    }

    90% {
        border-color: #fce4e4;
    }
}

.like_button:hover {
    background-color: #eee;
    transform: scale(105%);
    animation: movingBorders 3s infinite;
}

.like_button svg {
    margin-right: 11px;
    fill: rgb(255, 110, 110);
    transition: opacity 100ms ease-in-out;
}

.filled_like {
    position: absolute;
    opacity: 0;
    /* top: 20px; */
    left: 22px;
}

@keyframes beatingHeart {
    0% {
        transform: scale(1);
    }

    15% {
        transform: scale(1.15);
    }

    30% {
        transform: scale(1);
    }

    45% {
        transform: scale(1.15);
    }

    60% {
        transform: scale(1);
    }
}

.like_button:hover .empty_like{
    opacity: 0;
}

.like_button:hover .filled_like {
    opacity: 1;
    animation: beatingHeart 1.2s infinite;
}

                                                    /* like Button Ends */







/* Utinsil + More Button + Text*/

.home-write{         /* Text*/
    position: absolute;
    /* height: 550px; */
    top: 35%;
    left: 9%;
    width: 30%;
}

.home-write h1{
    color: white;
    padding-bottom: 30px;
    font-size:  40px;
}

.home-write h4{
    color: white;
    padding-bottom: 30px;
    font-size:  20px;
    font-weight: 200;
}



.utensil{               /* Utinsil */
    position: absolute;
    height: 500px;
    top: 25%;
    left: 50%;
}


.more-button-one{                               /* More Button */
    border: 2px solid #FF6719;
    background-color: #FF6719;
    border-radius: 0.4em;
    padding: 0.8em 1.2em 0.8em 1em;
    transition: all ease-in-out 0.2s;
    font-size: 16px;
    display: flex;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    margin-bottom: 10px;
}

.more-button-one:hover {
    background-color: #e45914;
    border: 2px solid #FF6719;

}

.more-button-two{                               /* More Button */
    border: 2px solid #ffffff;
    background-color: transparent;
    border-radius: 0.4em;
    padding: 0.7em 1.2em;
    transition: all ease-in-out 0.2s;
    font-size: 16px;
    display: flex;
    justify-content: center;
    color: #fff;
    font-weight: 600;
}






/* == RESPONSIVE == */



@media only screen and (max-width: 1250px) {
    .homey {
        height: 730px;
        top: -75px;
    }

    .card {
        left: 20%;
    }
    .utensil{               /* Utinsil */
        height: 450px;
        position: absolute;
        top: 27%;
        /* right: 0%; */
    }

    
    .home-write{      /* Text*/
        position: absolute;
        height: 550px;
        top: 37%;
        left: 10%;
        width: 30%;
    }

    .home-write h1{
        font-size:  30px;
    }

    .home-write h4{
        font-size:  20px;
    }

    .input-box {
        margin: 0 8px;
        height: 55px;
        width: 65%;
        position: absolute;
        left: 17%;
        top: 96%;
    }
    
}



/* Responsive under 1000 */

@media only screen and (max-width: 1000px) {
    .homey {
        height: 730px;
        /* position: relative; */
        top: -75px;
    }

    .utensil{               /* Utinsil */
        height: 390px;
        position: absolute;
        top: 30%;
        left: 42%;
    }
    
    .input-box {
        margin: 0 8px;
        height: 55px;
        width: 65%;
        position: absolute;
        left: 17%;
        top: 96%;
    }
    .input-box i {
        left: 12px;
        font-size: 25px;
    }
    .input-box input {
        padding: 0 112px 0 50px;
    }
    .input-box .button {
        right: 12px;
        font-size: 14px;
        padding: 8px 16px;
    }

    .home-write{      /* Text*/
        position: absolute;
        top: 35%;
        left: 10%;
        width: 33%;
    }

    .home-write h1{
        font-size: 25px;

    }

    .home-write h4{
        font-size: 20px;

    }
}






/* Responsive under 750 */


@media only screen and (max-width: 750px) {
    .card {
        width: 85%;
        left: 7%;
    }

    .homey{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center center;
    }

    .input-box {
        position: absolute;
        left: 17%;
        top: 97%;
    }


    .utensil{               /* Utinsil */
        position: relative;
        height: 300px;
        top: -4%;
        left: 0%;
    }

    .home-write{      /* Text*/
        position: relative;
        height: 550px;
        top: 25%;
        left: 0%;
        width: 75%;
    }

    .home-write h1{
        /* padding-bottom: 30px; */
        font-size:  23px;
        padding-bottom: 15px;
        
    }

    .home-write h4{
        /* padding-bottom: 30px; */
        /* display: none; */
        font-size:  16px;
        font-weight: 100;
        padding-bottom: 15px;
    }

    
}





